<strong>Hello, {{ provider }}</strong>
<p>There was a cancellation, check it out: </p>
<p>
    <strong>Customer: </strong> {{ user }} <br/>
    <strong>Date/hour: </strong> {{ date }} <br/>
    <br/>
    <small>
        This appointment is available again.
    </small>
</p>